html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  margin:0;
  }
  
  .background{
    width: 100vw;
  }
  
  /* This does the sea background (as video tile) */
  .backgroundTwo {
    position: relative;
    margin-bottom: 1vh;
    height: 40vh;
    
  }
  
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(1.5) contrast(1.2) saturate(1.2);
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-image: url("https://res.cloudinary.com/dbpmxkrgz/image/upload/v1684662792/Sanaa%27s%20World/sea_3_qzhkkf.png");
    background-repeat: repeat;
    background-size: cover;
    opacity: 0.65; 
  }
  
  
  /* This does the sea background ( as video fill) */
  /* .backgroundTwo {
    position: relative;
    height: 40vh;
    overflow: hidden;
  }
  
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  } */
  
  /* This class does the sea background (still image) */
  /* .backgroundTwo{
    height:40vh;
    background-image: url("https://res.cloudinary.com/dbpmxkrgz/image/upload/v1684662792/Sanaa%27s%20World/sea_3_qzhkkf.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
  
  } */
  
  
  
  
  /* This class does the cloudy sky background */
  .backgroundOne{
    height:60vh;
    max-width: 100%;
    background-image:url("https://res.cloudinary.com/dbpmxkrgz/image/upload/v1684777402/Sanaa%27s%20World/pink_clouds_darker_tv5irt.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    position: relative;
    /* background-position: center bottom, center center;
    background-attachment: fixed, fixed; */
  }
  
  /* Now I'm editing the text below */
  
  #sitetitle {
    margin-top: 0;
  color: #FFF9E3;
  font-family: 'Times New Roman', Times, serif New Roman, serif;
  font-size: calc(16px + 9.5vh);
  font-weight: lighter;
  position: absolute;
  bottom: -12vh;
  right: 0;
  text-size-adjust: auto;
  z-index: 9999;
  }
  
  .PageLinks{
    margin-top:0;
    color:#FFF9E3;
    font-family: Garamond, serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-right: 20px;
    margin-left: 10px;
    text-decoration-line: none;
    text-size-adjust: auto;
  }

  .skylink{
    color:#FFF9E3;
    font-family: Garamond, serif;
    font-size: calc(16px + 0.5vh);
    font-weight: 500;
    letter-spacing: 10px;
    text-decoration: none;
    left: 0;
    line-height: 100px;
    margin-top: -150px;
    position: absolute;
    text-align: center;
    top: 70%;
    width: 60%;
  }

  #Guestbook{
    color: #FFF9E3;
    font-family: Garamond, serif;
    font-size: 20px;
    font-weight:500;
    letter-spacing: 5px;
    text-decoration-line: none;
    text-size-adjust: auto;
    position: fixed;
    bottom: 40%;
    left: 10px;
  }
  
  h3 {
    margin-top: 0;
    margin-left: 10px;
    color:#FFF9E3;
    font-family: Garamond, serif;
    font-weight: lighter;
    font-size: 15px;
    text-size-adjust: auto;
  }
  
  .credit {
    font-family: Garamond, serif;
        color: #FFF9E3;
        font-size: 2.5vh;
        position: fixed;
        top: 5px;
        right: 10px;
  }
  
  .credit a{
  
    color: #FFF9E3;
    text-align: right;
  }
  .credit a {
    text-align: right;
    margin-top: 2px;
  }


/* big screen? */
/* @media screen and (min-width: 1024px) and (max-width: 1300px) {
    body {
        background-color:red;
    }
} */

/* Tablets */
/* @media screen and (min-width: 768px) and (max-width:1023px) {
    body {
        background-color:yellow;
    }
} */



/* Mobile phones */
@media only screen and (max-width: 768px) {
  
  body {
    position: relative;
    overflow-x: hidden;
  }

  .backgroundTwo{
    z-index: 0;
    position: relative;
  }

.credit {
    font-family: Garamond, serif;
    color: #FFF9E3;
    font-size: 1.5vh; /* Adjust the font size as per your preference */
    position:absolute;
    margin-bottom: 5%;
    margin-right: 0%;
    margin-top:170%;
    width: 100%;
    padding: 1vh;
    text-align: right;
    }
 

  #sitetitle {
    margin-top: 0;
  color: #FFF9E3;
  font-family: Garamond, serif;
  font-size: 6vh;
  font-weight: lighter;
  position: absolute;
  bottom: -6.5vh;
  right: 0;
  text-size-adjust: auto;
  z-index: 9999;
  }
}

#Guestbook{
  color: #FFF9E3;
  font-family: Garamond, serif;
  font-size: 25px;
  font-weight:500;
  letter-spacing: 5px;
  text-decoration-line: none;
  text-size-adjust: auto;
  position: fixed;
  bottom: 0%;
  left: 10px;
  z-index: 1;
}
  /* #date {
  margin: top 0;
  color: #FFF9E3;
  font-family: Garamond, serif;
  font-size: 25px;
  position: absolute;
  right:0;
  top:0;
  } */
  /* 
  #time {
    margin: top 0;
  color: #FFF9E3;
  font-family: Garamond, serif;
  } */
  
  
  
  /* To do: add random option, add music? + a guestbook */